/* DashboardComponent.css */
.dashboard-container {
  min-height: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#dashboard-header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

#dashboard-header h1 {
  margin: 0;
}

#search-bar {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  display: block;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-group button {
  padding: 10px 20px;
  margin: 5px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
}

.button-group button.active {
  background-color: cyan;
  color: black;
}

.button-group button:hover {
  background-color: cyan;
  color: black;
  border-radius: 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
}

.dropdown-content button.active {
  background-color: cyan;
  color: black;
}

.dropdown-content button:hover {
  background-color: cyan;
  color: black;
  border-radius: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#events-list {
  margin-top: 20px;
}

.event {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.event-details {
  flex-grow: 1;
}

.event-details h2 {
  margin: 0 0 10px;
}

.event-details p {
  margin: 0 0 10px;
}

.event-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.event-details ul li {
  margin: 5px 0;
}

.event-buttons {
  display: flex;
  gap: 10px;
}

.event-buttons button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
}

.event-buttons button:hover {
  background-color: cyan;
  color: black;
  border-radius: 8px;
}