.app-controller-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navigation-bar {
  display: flex;
  justify-content: space-around;
  background-color: #007bff;
  padding: 10px;
  margin-bottom: 20px;
}

.navigation-bar button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigation-bar button:hover {
  background-color: #0056b3;
}

#viewContainer {
  flex-grow: 1;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#logout_btn {
  color: #0056b3;
  background-color: white;
}

#logout_btn:hover {
  background-color: #768ca3;
}