<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="LogInComponent.css">
</head>

<body>
    <div class="log-in-container">
        <h2>Coordin8</h2>
        <form class="log-in">
            <h3>Welcome back!</h3>
            <div class="input-block">
                <div class="inner_input">
                    <label for="email">Email:</label>
                    <input type="text" id="email">
                </div>
                <div class="inner_input">
                    <label for="password">Password:</label>
                    <input type="password" id="password">
                </div>
            </div>
        </form>
        <button type="submit" class="submit-button">Log In</button>
    </div>
</body>

</html>