<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="test.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <h3>Profile Settings</h1>
        </div>

        <form>
            <div class="input-block">
                <h3>Personal Information</h1>
                    <div class="inner-input">
                        <label for="username">Name:</label>
                        <label for="email">Email:</label>
                        <input type="text" name="username" id="name">
                        <input type="text" name="email" id="email">
                    </div>
            </div>
            <div class="input-block">
                <h3>Time Zone Settings:</h3>
                <div class="inner-input">
                    <label for="primary-time-zone">Primary Time Zone:</label>
                    <label for="secondary-time-zone">Secondary Time Zone:</label>
                    <input type="text" id="primary-time-zone" name="primary_tz">
                    <input type="text" id="secondary-time-zone" name="secondary_tz">
                </div>
            </div>
            <div class="noti-block">
                <h3>Notification Preferences</h3>

                <div class="inner-noti">
                    <p>Email Notifications: </p>

                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="footer">

                <button type="submit" class="submit-button">Save</button>
            </div>
        </form>

    </div>

</body>

</html>