<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="SetUpAccountComponent.css">
</head>

<body>
    <div class="set-up-container">

        <h2>Coordin8</h2>
        <form class="set-up">
            <h3>Please finish the information to set up your account</h3>
            <div class="input-block">
                <div class="inner_input">
                    <label for="username">Username:</label>
                    <input type="text" id="username">
                </div>
                <div class="inner_input">
                    <label for="primary_time_zone">Primary Time Zone:</label>
                    <input type="text" id="primary_time_zone">
                </div>
                <div class="inner_input">
                    <label for="noti_pref">Email Notification:</label>
                    <label class="switch">
                        <input type="checkbox" id="noti_pref">
                        <span class="slider round"></span>
                    </label>
                </div>

            </div>
        </form>
        <button type="submit" class="submit-button">Finish</button>
    </div>
</body>

</html>